<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.fitcom.fancydownloader">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <service
            android:name=".ManagerService"
            android:label="Download Service"></service>
    </application>
</manifest>